
body{
    font-family: 'Inter', sans-serif;
}
div.logo {
    width: 23%;
    padding: 1%;
}
.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 45%;
    float: right;
    font-family: 'Inter', sans-serif;
}
ul:{
    width: 50%;
    margin-left: auto;
}
div.logo {
    text-align: center;
}
footer{
    font-family: 'Inter', sans-serif;
    background-color: #373738;
    height: 200px;
    color: white;
}
li {
    font-family: 'Inter', sans-serif;
    display: inline-block;
    font-size: 20 px;
    padding: 20px;
}
.center {
    color: red;
    -ms-transform: translate(75%, 75%);
    transform: translate(75%, 75%);
}
div.workGrid {
    display: grid;
    grid-template-columns: auto auto;
    font-family: 'Inter', sans-serif;

}
.workGrid {
    padding: 15%;
    margin: 10px;
    grid-gap: 50px;
}
h1 {
    padding-top: 10px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 150;
    font-size: xx-large;
}
h3 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 150;
    font-size: x-large;
    padding-bottom: 20px;
}
button {
    background-color: 73C0DA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
@media screen and (max-width: 600px) {
    ul.topnav {
        display: hide;
        width: auto;
       }
       img.logo {
        display: flex;
        width: 25%;
       }
       h1 {
        font-size: x-large;
        padding-top: 50px;
       }
    footer {
        width: 100%;
     }
     ul.footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    h1 {
        padding-top: 100px;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-weight: 150;
        font-size: x-large;
    }
    div.workGrid {
        display: flex;
        flex-direction: row-reverse;
        width: 75%;
        grid-template-columns: 1fr;
        grid-template-rows: none|auto|max-content|min-content|length|initial|inherit;
        
    }
    
}

.search-bar {
    width: 225px;
    height: 50px;
    padding-left: 15px;
    border: 2px solid #212529;
    margin-top: 8px;
}

.search-btn {
    padding: 10px 10px;
    border: 2px solid #73C0DA;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    color: #73C0DA;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 10;
    color: white;
}