:root {
    --primary: #73C0DA;
    --light: white; 
    --dark: #373738; 
}

body{
    font-family: 'Inter', sans-serif;
    
}

div.logo {
    width: 23%;
    padding: 1%;
}
.topnav {
    list-style-type: none;
    margin: 1000;
    padding: 0;
    overflow: hidden;
    width: 45%;
    float: right;

}

ul {
    width: 50%;
    margin-left: auto;
}
div.logo {
    text-align: center;
}

div.content {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;

    
}

.section {
    align-items: center;
}

img.profile {
    margin: auto;
    width: 90%;

}

p.paragraph {
    margin: auto;
    width: 100%;
    font-family: 'Inter', sans-serif;
    padding-left: 5%;

}
footer{
    background-color: var(--primary);
    height: 100px;
    color: white;
}
li {
    display: inline-block;
    font-size: 20 px;
    padding: 20px;
}

div.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
   position: relative;
   padding: 30px 50px;
   border: 2px solid #73C0DA;
   margin: 10px;
   display: inline-block;
   text-decoration: none;
   color: #73C0DA;
   letter-spacing: 2px;
   text-transform: uppercase;
   transition: 1ms;
   overflow: hidden;
   margin-bottom: 50px;

}

.btn span {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #73C0DA;
    transition: width 0.5s, height 0.5s;
    z-index: -1;
    
}
.btn:hover {
    color: white;
}
.btn:hover span{
    width: 700px;
    height: 700px;
    text-emphasis-color: white;
}

.search-bar {
    width: 225px;
    height: 50px;
    padding-left: 15px;
    border: 2px solid #212529;
    margin-top: 8px;
}

.search-btn {
    padding: 10px 10px;
    border: 2px solid #73C0DA;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    color: #73C0DA;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 10;
}
div.polaroid {
    margin: auto;
    margin-top: 25px;
    display: flex;
    width: 70%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-direction: column;
    padding: 10px 25px 0px 25px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-bottom: 50px;
    align-items: center;
}

  div.cardtext {
    padding: 10px 20px;
  }

div.text {
  margin: auto;
    text-align: center;
  font-family: 'Inter', sans-serif;
  margin-bottom: 50px;

}


